<header id="header">
  <h1 id="logo">
    <a [routerLink]="['/home']"></a>
  </h1>

  <div id="menu">
    <a [routerLink]="['/home']" class="btn">Home</a>
    <a *ngIf="checkIfLoggedIn()" [routerLink]="['/myImages']" class="btn">My Uploads</a>
    <a *ngIf="checkIfLoggedIn()" [routerLink]="['/imageUpload']" class="btn">Upload</a>
    <a *ngIf="checkIfLoggedIn() === false" [routerLink]="['/login']" class="btn">Login</a>
    <a *ngIf="checkIfLoggedIn() === false" [routerLink]="['/register']" class="btn">Register</a>
    <a *ngIf="checkIfLoggedIn()" (click)="logout()" class="btn">Logout</a>

  </div>

  <div class="color"></div>
  <div class="clear"></div>
</header>

<div class="shadow"></div>

<div id="container">
  <router-outlet></router-outlet>
</div>