#header {
  height: 64px;
  background: #000000;
  position: fixed;
  header: 0;
  left: 0;
  width: 100%;
}

#header h1#logo {
  float: left;
  margin: 0;
}

#header h1#logo a {
  background: url(../public/images/logo.png) no-repeat top left;
  width: 194px;
  height: 48px;
  margin: 8px;
  display: block;
  text-indent: -9999px;
}

#header .router-link-active {
  color: #f10714;
}

#header .color {
  display: block;
  height: 4px;
  position: absolute;
  top: 100%;
  width: 100%;
}

#header #menu {float:left;padding:17px 40px 0 0;}

#container {padding:100px 20px 20px 20px;}

.color {
  background-color: #f10714 !important;
}

.shadow {
  background: url(../public/images/top-shadow.png) repeat-x;
  height: 35px;
  position: fixed;
  top: 68px;
  width: 100%;
}

#center{
  width: 70%;     /* specify a width! */
  margin: 0 auto; 
}