<div>
<div style="text-align: center">
<h1>

  {{ title }}
</h1>
</div>
<hr>

  {{ body }}

 <ul  style="margin-left: 10%">
  <li *ngFor="let image of images ">
       <b> {{image.title}} </b>
     <br>
     <img style="border:10px outset silver;"  src="{{image.filePath}}" alt="{{image.title}}" height="550" width="550" (click)="onSelect(image)">
     <br><br><br>

  </li>
</ul> 

    <router-outlet></router-outlet>
</div>

